<!-- ====== Footer ====== -->
<div class="footer row d-flex justify-content-start gap py-3 px-1">
  <div class="row col-sm-12 col-md-4 gap-2">
    <div class="row">
      <div class="col-3 col-md-3">
        <img class="logo" src="assets/Escudo-palermo.png" width="60" height="60" alt="Escudo de Palermo" loading="lazy"
          decoding="async">
      </div>
      <div class="col-7 col-md-8">
        <h5>GESCOMPH</h5>
        <p>Sistema Oficial</p>
      </div>
    </div>
    <div class="row d-flex justify-content-start">
      <p>
        Sistema de Gestión Comercial de la Alcaldía de Palermo, Huila.
        Promoviendo el desarrollo económico local a través de la gestión transparente
        de espacios comerciales públicos.
      </p>
    </div>
  </div>

  <div class="col-sm-12 col-md-4">
    <h5 class="fw-bold text-white pb-3">Enlaces Rápidos</h5>
    <ul class="list-unstyled mt-3">
      <li class="d-flex align-items-center py-2">
        <i class="fa fa-building me-2"></i>
        <a routerLink="/establishments" class="text-decoration-none">Locales Disponibles</a>
      </li>

    </ul>
  </div>

  <div class="col-sm-12 col-md-4">
    <h5 class="fw-bold text-white pb-3">Servicios</h5>
    <ul class="list-unstyled mt-3">
      <li class="d-flex align-items-center py-2">
        <i class="fa fa-building me-2"></i>
        <span>Arriendo de Locales Comerciales</span>
      </li>
      <li class="d-flex align-items-center py-2">
        <i class="fa fa-file-alt me-2"></i>
        <span>Gestión de Contratos</span>
      </li>
    </ul>
  </div>
</div>
