<section class="locales">
  <div class="container">
    <header class="locales__header">
      <h2 class="locales__title text-green fw-bolder">Nuestros Locales</h2>
      <a routerLink="/establishments" class="locales__link">
        Ver más
        <mat-icon class="locales__link-icon">arrow_forward</mat-icon>
      </a>
    </header>

    <div class="locales__carousel">
      <button
        mat-icon-button
        class="locales__arrow locales__arrow--left"
        [disabled]="!canScrollLeft"
        aria-label="Locales anteriores"
        (click)="scrollCarrusel(-1)">
        <mat-icon>chevron_left</mat-icon>
      </button>

      <div class="locales__track" #carrusel>
        <div class="locales__list carrusel-locales">
          <article *ngFor="let establishment of establishments" class="locales__item">
            <app-card
              [resource]="establishment"
              [showAvailableTag]="true"
              (view)="view.emit(establishment.id)"
              (onCreateAppointment)="createAppointment.emit(establishment.id)">
            </app-card>
          </article>
        </div>
      </div>

      <button
        mat-icon-button
        class="locales__arrow locales__arrow--right"
        [disabled]="!canScrollRight"
        aria-label="Locales siguientes"
        (click)="scrollCarrusel(1)">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
</section>
