:host {
  display: block;
  height: 100vh;
  width: 100vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
   scroll-behavior: smooth;
}

.text-green {
  color: var(--green-600);
}

.text-gold {
  color: var(--yellow-300);
}

.header {
  color: #fff;
}
