version: "3.9"

services:
  # Frontend GESCOMPH - Desarrollo
  gescomph-front-develop:
    container_name: ${CONTAINER_NAME}
    build:
      context: ../..
      dockerfile: Dockerfile
    image: ${IMAGE_NAME}:latest
    restart: always
    ports:
      - "4201:${PORT}"
    env_file:
      - .env
    networks:
      - gescomph_network
    labels:
      - com.gescomph.environment=develop

# Red externa compartida con backend
networks:
  gescomph_network:
    external: true
